<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <script>
        function fn_getProject() {
            $.ajax({
                url:"/api/v1/projects/" + "${projectId}",
                type:"GET",
                cache: false,
                data:{},
                dataType : "json",
                success:function(data){

                },
                error:function(key, textStatus){
                }
            });
        }
    </script>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id="projectName" th:text=""></h5>
            <p class="card-text" id="summary" th:text=""></p>
            <p class="card-text" id="status" th:text=""></p>
            <p class="card-text" id="projectPriority" th:text=""></p>
            <p class="card-text" id='startDate' th:text=""></p>
            <p class="card-text" id='endDate' th:text=""></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-info" th:href="@{'/view/edit/' + ${list.id}}" role="button">수정</a>
        </div>
        <div class="col-auto">
            <form id="delete-form" th:action="@{'/view/' + ${list.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>