<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>USER LIST</title>
  <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
  <script src="/webjars/jquery/3.5.1/jquery.js"></script>
  <script>
    function fn_chatList() {
      $.ajax({
        url:"/api/v1/chat/rooms",
        type:"GET",
        cache: false,
        data:{},
        dataType : "json",
        success:function(data){
          let chatList = '<table class="table"><thead class="thead-light"><tr class="text-center"><th scope="col">ID</th>'
                  + '<th scope="col">ROOM ID</th></tr></thead><tbody>';
          for(let i=0;i<data.length;i++) {
            chatList += '<tr class="text-center">';

            chatList += '<th scope="row"><span th:text="' + data[i].id + '">' + data[i].id + '</span></th>';
            chatList += '<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectUpdateModal" onclick="fn_joinChat(' + data[i].roomId + ');">' + data[i].roomId + '</button></td>';
            chatList += '</tr>';
          }
          chatList += '</tbody></table>';

          $("#chatTable").html("");
          $("#chatTable").append(chatList);
        },
        error:function(key, textStatus){
        }
      });
    }

    function fn_joinChat(roomId) {
      $.ajax({
        url:"/api/v1/chat/" + roomId,
        type:"GET",
        cache: false,
        data:{},
        dataType : "json",
        success:function(data){
          //todo
        },
        error:function(key, textStatus){
        }
      });
    }

    function fn_sendMsg() {
      var msg = $("msgText").val();

      $.ajax({
        url:"/api/v1/chat/send",
        type:"GET",
        cache: false,
        data:msg,
        processData: false,
        contentType: "application/json",
        dataType : "json",
        success:function(data){
        },
        error:function(key, textStatus){
        }
      });
    }
  </script>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
  <div id="userTable">
    <table class="table">
      <thead class="thead-light">
      <tr class="text-center">
        <th scope="col">ROOM ID</th>
        <th scope="col">ROOM CREATED</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" onclick="fn_chatList();">채팅 목록 조회</button>
    <br/>
    <input type="text" class="form-control" name="msgText" id="msgText">
    <button type="button" class="btn btn-primary" onclick="fn_sendMsg();">메시지 전송</button>
  </div>
</div>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>