<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>USER LIST</title>
  <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
  <script src="/webjars/jquery/3.5.1/jquery.js"></script>
  <script>
    function fn_createChatRoom() {
      let param = $("form[name=createForm]").serializeObject();

      $.ajax({
        url:"/chat",
        type:"POST",
        cache: false,
        data:JSON.stringify(param),
        processData: false,
        contentType: "application/json",
        dataType : "json",
        success:function(data){
          console.log(data);
        },
        error:function(key, textStatus){
        }
      });
    }

    function fn_sendMsg() {
      var msg = $("msgText").val();

      $.ajax({
        url:"/chat?messageType=COMM&roomName=thisroom&user=habigkys&message=" + msg,
        type:"POST",
        cache: false,
        data:{},
        dataType : "json",
        success:function(data){
        },
        error:function(key, textStatus){
        }
      });
    }

    jQuery.fn.serializeObject = function() {
      let obj = null;
      try {
        if(this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) {
          let arr = this.serializeArray();
          if(arr){ obj = {};
            jQuery.each(arr, function() {
              obj[this.name] = this.value; });
          }
        }
      }catch(e) {
        alert(e.message);
      }finally {}
      return obj;
    }
  </script>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
  <div class="col-md-12">
    <form action="/chat" method="post" id="createForm" name="createForm">
      <div class="form-group">
        <label for="messageType">메시지 타입 (ENTER, COMM)</label>
        <input type="text" class="form-control" name="messageType" id="messageType">
      </div>
      <div class="form-group">
        <label for="roomId">채팅방 ID</label>
        <input type="text" class="form-control" name="roomId" id="roomId">
      </div>
      <div class="form-group">
        <label for="roomName">채팅방 이름</label>
        <input type="text" class="form-control" name="roomName" id="roomName">
      </div>
      <div class="form-group">
        <label for="user">유저명</label>
        <input type="text" class="form-control" name="user" id="user">
      </div>
    </form>
    <button type="button" class="btn btn-primary" onclick="fn_createChatRoom();">방만들기</button>
    <br/>
    <input type="text" class="form-control" name="msgText" id="msgText">
    <button type="button" class="btn btn-primary" onclick="fn_sendMsg();">메시지 전송</button>
  </div>
</div>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>